img{
	width:30%;
	float:left;
	margin:1.66%;
}

h1{
	font-family:Indie Flower;
	margin-left:1.66%;
	font-size:30px;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: 2px solid green;
	width:30%;
	padding-bottom:20px;
}
body
{
	background: lightpink;
}